.chat-bottom {
    background-color: #fff;
    height: auto;
    position: fixed;
    padding: 10px;
    border-top: 5px solid transparent;
    z-index: 1002;
    display: block;
    animation: slide-in-fwd-up-show-chatinput 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all .3s;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 입력 상자 스타일 */
#chat-input-box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.chat-send-form {
    width: 100%;
    background: #fff;
    position: relative;
    font-size: 0;
}

#quick-btn-group {
    position: absolute;
    top: 52px;
    background: #fff;
    width: 100%;
    min-height: 294px;
    opacity: 1;
    left: 0;
    margin-top: -18px;
}
.show-menu {
    margin-top: -294px;
}
.hide-menu {
    /*visibility: hidden;*/
    display: none;
}

.chat-menu-btn {
    background-color: #be3455;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}
.chat-textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 10px;
}
.chat-submit-btn {
    background-color: #be3455;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

/* 퀵메뉴 버튼 CSS */
.quick-btn {
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}