.chat-input-button {
    background-color: #be3455;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

/* 입력 상자 스타일 */
.chat-input-box {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* 아래에 가려지는 현상 방지를 위해 */
}

.chat-input-box-btn {
    background-color: #be3455;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.chat-input-box-textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 10px;
}